
APP_VERSION=1.0.1


STAGE=development

MYSQL_ROOT_PASSWORD=Un@password?!screto+*
MYSQL_USER=usuario
MYSQL_PASSWORD=password
DB_NAME=dbname
DB_HOST=host
DB_PORT=3500
IMAGENES_DIR=/app/src/imagenes

DEV_EMAIL_FROM=34gh32k3423
DEV_EMAIL_PASS=234jhj2k3j4h3

PROD_EMAIL_FROM=tuemail@email.com.com
PROD_EMAIL_PASS=1233 1sad 133s 132d

PORT=3000
HOST_API=http://localhost:3000

JWT_SECRET=jwt123secret434signature34